<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devicepath</key>
	<dict>
		<key>AAPL00,DualLink</key>
		<data>AQAAAA==</data>
		<key>ATY,Card#</key>
		<string>102-D32200-00</string>
		<key>ATY,Copyright</key>
		<string>Copyright AMD Inc. All Rights Reserved. 2005-2019</string>
		<key>ATY,DeviceName</key>
		<string>W5700X</string>
		<key>ATY,EFIVersion</key>
		<string>01.01.190</string>
		<key>ATY,FamilyName</key>
		<string>Radeon Pro</string>
		<key>ATY,Rom#</key>
		<string>113-D3220E-190</string>
		<key>device_type</key>
		<string>ATY,AdderParent</string>
		<key>hda-gfx</key>
		<string>onboard-1</string>
		<key>model</key>
		<string>Radeon Pro W5700X</string>
		<key>name</key>
		<string>ATY_GPU</string>
	</dict>
</dict>
</plist>
